/* .gallery-half-section{
background:#050505;
color:white;
padding:100px 70px;
text-align:center;
min-height:100vh;
}

.gallery-half-section h2{
font-size:48px;
margin-bottom:10px;
}

.gallery-half-section p{
color:#999;
margin-bottom:30px;
}

.gallery-filter{
display:flex;
justify-content:center;
gap:15px;
margin-bottom:40px;
}

.gallery-filter button{
background:#111;
color:white;
border:1px solid #333;
padding:10px 20px;
cursor:pointer;
}

.gallery-filter .active{
border-color:#ff1a1a;
color:#ff1a1a;
}

.gallery-grid{
display:grid;
grid-template-columns:repeat(4,1fr);
gap:20px;
}

.gallery-card{
height:220px;
background:#111;
border:5px solid #222;
border-radius:10px;

display:flex;
justify-content:center;
align-items:center;

transition:.3s;
}

.gallery-card:hover

.load-more-btn{
margin-top:50px;
padding:14px 40px;
background:transparent;
border:2px solid #444;
color:white;
cursor:pointer;
}

.load-more-btn:hover{
border-color:#ff1a1a;
color:#ff1a1a;
} */

/* .gallery-half-section{
  background:#050505;
  color:white;
  padding:100px 0;
  text-align:center;
  overflow:hidden;
} */
/* .gallery-half-section{
  background:#050505;
  color:white;
}
.gallery-half-section h2{
  font-size:48px;
  margin-bottom:10px;
}

.gallery-half-section p{
  color:#999;
  margin-bottom:50px;
} */
.gallery-half-section{
  background:#050505;
  color:white;
  text-align:center;
  padding:100px 20px;
  overflow:hidden;
}

.gallery-half-section h2{
  font-size:48px;
  margin-bottom:10px;
  letter-spacing:2px;
}

.gallery-half-section p{
  color:#999;
  margin-bottom:40px;
}

.gallery-slider{
  overflow:hidden;
  width:100%;
  margin-bottom:25px;
}

.gallery-track{
  display:flex;
  width:max-content;
  align-items:center;
  gap:20px;
}

.row1{
  animation:scrollLeft 30s linear infinite;
}

.row2{
  animation:scrollRight 30s linear infinite;
}

.gallery-item{
  width:320px;
  height:220px;

  border:5px solid #ff1a1a;
  border-radius:15px;

  background:#111;

  display:flex;
  justify-content:center;
  align-items:center;

  font-size:22px;
  font-weight:600;

  flex-shrink:0;
}

.gallery-item:hover{
  transform:scale(1.03);
  transition:0.3s;
}

@keyframes scrollLeft{
  0%{
    transform:translateX(0);
  }

  100%{
    transform:translateX(-50%);
  }
}

@keyframes scrollRight{
  0%{
    transform:translateX(-50%);
  }

  100%{
    transform:translateX(0);
  }
}

.load-more-btn{
  margin-top:40px;
  padding:14px 40px;

  background:transparent;
  color:white;

  border:2px solid #ff1a1a;
  border-radius:8px;

  cursor:pointer;
  font-size:16px;
}

.load-more-btn:hover{
  background:#ff1a1a;
}

@media(max-width:768px){

  .gallery-item{
    width:250px;
    height:180px;
  }

  .gallery-half-section h2{
    font-size:34px;
  }

}