.video-section{
  background:#050505;
  color:white;
  text-align:center;
  padding:100px 50px;
}

.video-section h2{
  font-size:40px;
  margin-bottom:10px;
}

.video-section p{
  color:#aaa;
  margin-bottom:40px;
}

.video-buttons{
  display:flex;
  justify-content:center;
  gap:15px;
  margin-bottom:40px;
  flex-wrap:wrap;
}

.video-buttons button{
  background:transparent;
  border:1px solid #333;
  color:white;
  padding:10px 20px;
  cursor:pointer;
}

.video-buttons button:first-child{
    border-color:#ff1a1a;
  border-color:red;
  color:red;
}

.video-grid{
  display:grid;
  grid-template-columns:repeat(3,1fr);
  gap:25px;
}

.video-card{
  text-align:left;
}

.video-frame{
  height:220px;
  border:2px solid #d11212;
  border-radius:10px;
  background:#111;
  display:flex;
  justify-content:center;
  align-items:center;
  font-size:50px;
  color:white;
}

.video-card h4{
  margin-top:15px;
  font-size:18px;
}

.load-btn{
  margin-top:40px;
  background:transparent;
  border:1px solid #444;
  color:white;
  padding:12px 35px;
  cursor:pointer;
}

@media (max-width:768px){

  .video-grid{
    grid-template-columns:1fr;
  }

}