@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Montserrat:wght@300;400;500;700;900&display=swap');

@import "tailwindcss";

*{
  margin:0;
  padding:0;
  box-sizing:border-box;
}

body{
  background:#050505;
  color:white;
  font-family:'Montserrat', sans-serif;
  overflow-x:hidden;
  padding-top:80px;
}

.hero-title{
  font-family:'Bebas Neue', sans-serif;
  letter-spacing:3px;
}

.red-glow{
  box-shadow:0 0 80px rgba(255,0,0,0.4);
}

html{
  scroll-behavior:smooth;
}

*{
  margin:0;
  padding:0;
  box-sizing:border-box;
}

img{
  max-width:100%;
  height:auto;
}

body{
  overflow-x:hidden;
}